body {background-color: #fca6c9;
      }
nav {text-align: center;
      font-size: 40px;
      font-weight: bold;
      color: white;
      padding-bottom: 1em;
      padding-top: .5em;
      font-family: Roboto;
      }
      a:hover {
            background-color: white;
            color: black;
          }
header p 
{text-align: center;
            width: 27%;
            margin: 0 auto;
            color: white;
            padding-bottom: 1em;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
h3 {
      width: 30%;
      margin: 0 auto;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: white;
      line-height: 2em;
      padding-bottom: 1em;
      text-align: center;
      }
ol {
      text-align: left;
      width: 20%;
      margin: 0 auto;
      font-weight: bolder;
      padding-bottom: 2em;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      line-height: 2em;
      }
img {display: block;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      }

main p {text-align: center;
      color: white;
      font-size: 28px;
      width: 25%;
      margin: 0 auto;
      padding-bottom: 1em;
      }
footer {text-align: center;
      font-size: small;
      padding-bottom: 1em;
      width: 25%;
      margin: 0 auto;
      font-weight: bold;
      }

     