#content{
    width: 40%;
    margin: 0 auto;
    background-color: white;
    border-top-right-radius:21px;
    border-top-left-radius: 21px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;

}
body{
    background-color: #1e1e1e;
   
}
img{
    width: 100%;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;

}
.picture{
    text-align: center;
    font-size: 1.65em;
}
.picture h1{
    margin-bottom: 30px;
    margin-top: -25px;
}
footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #3f5b8b;
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin-top: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
sub{
    font-size: small;
    display: block;
}
.header{
    color: #405c8b;
}
.bd{
    width: 90%;
    margin: auto;
    color:#8e838e;
}